<h3>Friend Recommendation System</h3>
<div id="intro_word">
In friend recommendation, you can find out new friends or current friends that has similar learning portfolio with you.<br>
Hope you can enjoy learning and have discussion and interaction on the learning content.<br><br>
<b>Operating Steps:</b><br>
<li>Step1: Choose you want to filter by a specific course or a category of courses</li>
<li>Step2: Choose the course or category</li>
<li>Step3: Find out the friends and enjoy the interaction!!</li><br><br>
</div>
  
  <%= select_tag 'select_mode', "<option>category</option><option>course</option>".html_safe, :prompt => "Please select a mode" %>

  <%= select_tag 'select_category', options_from_collection_for_select( CategoryCourseRelationship.order( :name), 'id', 'name' ), :prompt => "Please select a category" %>
  <%= button_tag 'Recommendation!', :id => "recommendation_in_category" %> 

  <%= select_tag 'select_course', option_groups_from_collection_for_select( CategoryCourseRelationship.all, :courses, :name, :id, :courseName ), :prompt => "Please select a course" %>
  <%= button_tag 'Recommendation!', :id => "recommendation_in_course" %> 

  <div id="result"></div>
  <br>
  <%= link_to 'Back to Course List', courses_path %>






