<h3>
  <ul>
  <% @courses.each do |course| %>
    <li>
      Course Name: <%= course.courseName %>
      <%= link_to 'Information', info_path( :id => course) %>
    </li>
  <% end %>
  </ul>
</h3>
 
<br>
<br>

<h4>
  <%= link_to 'Download Course List', download_course_list_path %>
  <br>
  <br>
  <%= form_tag upload_course_list_path do %>
    <%= text_field_tag :course_list %>
    <%= submit_tag "Uplaod" %>
  <% end %>
</h4>
