
<h3>
  <ul>
  <% @courses.each do |course| %>
    <li>
      Course Name: <%= course.courseName %>
      <%= link_to 'Information', :controller => 'courses', :action => 'info', :id => course %>
    </li>
  <% end %>
  </ul>
</h3>
 
<br>
<br>

<h4>
  <%= link_to 'Download Course List', :controller => 'courses', :action => 'download_course_list' %>
  <br>
  <br>
  <%= form_tag @input, :url => { :controller => 'courses', :action => 'upload_course_list', :course_list => @input} do %>
    <%= label_tag "Upload Course List" %>
    <%= text_field_tag :course_list %>
    <%= submit_tag "Update" %> 
  <% end %>
</h4>

